@import "tailwindcss";

@theme {
  --color-primary: #4B4EFC;
  --color-primary-light: #6b6dff;
  --color-secondary: #00cc66;
  --color-accent-yellow: #ffcc00;
  --color-accent-pink: #ff4d85;
}

/* Custom organic shapes for placeholders */
.shape-blob {
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}
.shape-blob-2 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
